.navbar {
    display: flex;
    align-items: center;
    
    background: #14196b;
    color: white;
    font-family: Helvetica;
    font-weight: 300;
    
}

.navbar__title {
    margin-right: 20px;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
    font-weight: bold;
}

.active, .navbar__item.active:hover {
    background-color: rgba(194, 195, 197, 0.945);
    color: #14196b;
    border-radius: 40px;
    transition: 0.1s;
    
  }